
`

.size-btn {
    height: 26.979166px;
}

.allsize-btn {
    height: 26.979166px;
    width: 58.979166px;
}

.size-allsize-conainer {
    width: 130px;
    left: auto;
    right: 55px;
    bottom: 4px;
}

.size-allsize-conainer-all {
    top: 25px !important;
}

.title-cl {
    font-weight: bold;
    padding-top: 4px;
    font-size: larger;
    text-align: right;
}

[hidden] {
    display: none !important;
}

.remove-btn {
    font-weight: 800;
    font-size: 13px;
}

.size-remove-btn {
    font-size: 5px;
}

.size-container {
    position: relative;
    width: 50px;
    height: 60px;
    margin-bottom: 15px;
}

.add-size-btn {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-left: 20px;
    height: 25px;
    width: 25px;
}

.size-element button {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 15px;
    width: 15px;
    font-size: 10px;
    margin-left: 15px;
}

.page-header {
    text-align: center;
    height: 60px;
    font-weight: bold;
}

.size-element {
    width: 50px;
    height: 15px;
    margin: 5px auto;
}

.markerNumber {
    font-size: 35px;
    text-align: center;
    margin-top: 150%;
    margin-bottom: 150%;
}

th {
    text-align: center;
}

input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
}

.marker-input {
    padding: 1px 5px;
}

.total-layers {
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 12px;
    padding: 2px;
}

option {
    text-align-last: center;
}
.header-row {
    font-size: medium;
    font-family: fantasy;
    background-color: #9da3b9;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: 0px;
    
}

.form-control .no-padding-input {
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    width: 201.979166px;
}