<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductionTracker.Data.Properties.Settings.ManufacturingDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ManufacturingDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProductionTracker.Data.Properties.Settings.ManufacturingDBConnectionString1"
            connectionString="Data Source=shell-station.cik0lyjx63a6.us-east-2.rds.amazonaws.com;Initial Catalog=ManufacturingDB;User ID=barry218;Password=218barry"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>