<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProductionTracker.Data.Properties.Settings.ManufacturingDBConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=ManufacturingDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>