<div id="app-other-edit-options">

    <div class="portlet box green col-md-5" style="margin-left: 10px">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Accordions
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <div class="panel-group accordion" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" aria-expanded="true"> <center>Sleeves</center>  </a>
                        </div>
                    </div>
                    <div id="collapse_1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <div id="app-bodyStyle">
                                <div style="margin-left: 1px">
                                    @*table logic goes here*@
                                    <table class="table table-bordered">
                                        <tr>
                                            <th colspan="2">Sleeves</th>
                                        </tr>

                                        <tr v-for="(sleeve,index) in listOfAllSleeves">
                                            <td>{{index+1}})  {{sleeve.Name}}</td>
                                        </tr>

                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2" aria-expanded="false"> <center> Body Style</center> </a>
                        </div>
                    </div>
                    <div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body" style="height:200px; overflow-y:auto;">
                            @*another-test*@
                            <div id="app-Sleeves">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>id</th>
                                        <th>sleeve</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>long sleeves kaklaf</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>aron</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3" aria-expanded="false"> <center>Materials</center> </a>
                        </div>
                    </div>
                    <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            @*another-test*@
                            <div id="app-materials">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>id</th>
                                        <th>mat</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>long sleeves kaklaf</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>aron</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
