

<div id="edit-options" v-cloak>

    <div class="portlet box green col-md-5" style="margin-left: 10px">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Edit Item
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>

            </div>
        </div>
        <div class="portlet-body" style="display: block;">
            <div class="panel-group accordion" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1" aria-expanded="true"> <center>Sleeves</center>  </a>
                        </div>
                    </div>
                    <div id="collapse_1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-hover table-responsive">
                                <tr>
                                    <th colspan="3" style="background-color: darkturquoise">Sleeves</th>
                                </tr>
                                <tr v-for="(sleeve,index) in listOfAllSleeves" :class="{'being-edited-background': sleeve.Edit}">
                                    <td>{{index+1}} </td>
                                    <td v-if="!sleeve.Edit" :colspan="2" v-on:dblclick="sleeve.Edit = true; sleeve.NameCopy = sleeve.Name" tabindex="1">
                                        <span>{{sleeve.Name.toUpperCase()}}</span>
                                    </td>
                                    <td v-else :colspan="1" v-on:dblclick="cancel(sleeve)" tabindex="1">
                                        <input v-model="sleeve.Name" />
                                    </td>
                                    <td v-if="sleeve.Edit" class="action-btn-td">
                                        <span v-if="sleeve.Id" class="action-btn-span">
                                            <span class="font-awsome-span save-btn"><i title="Save" v-on:click="updateExistingSleeve(index); sleeve.Edit = !sleeve.Edit" class="fa fa-save"></i></span>
                                            <span title="Delete" v-on:click="deleteAnExistingItem(sleeve, 'Sleeves', index)" class="font-awsome-span delete-btn"><i class="fa fa-trash"></i></span>
                                            <button title="Cancel" class="btn btn-circle default cancel-btn" v-on:click="cancel(sleeve)">Cancel</button>
                                        </span>
                                        <span v-else>
                                            <button title="Add" class="btn btn-info" v-on:click="addNewItem(sleeve,'Sleeves')"><i class="fa fa-plus"></i></button>
                                            <button title="Remove" class="btn btn-danger" v-on:click="removeRow('Sleeves')"><i class="fa fa-ban"></i></button>pending...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;" colspan="3">
                                        <button class="btn btn-circle btn-info" v-on:click="addRow('Sleeves')">Add New</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2" aria-expanded="false"> <center> Body Style</center> </a>
                        </div>
                    </div>
                    <div id="collapse_2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body" style="overflow-y:auto;">
                            <table class="table table-bordered table-responsive table-hover table-striped">
                                <tr>
                                    <th colspan="3" style="background-color: darkturquoise">BodyStyle</th>
                                </tr>
                                <tr v-for="(bodyStyle,index) in listOfAllBodyStyle" :class="{'being-edited-background': bodyStyle.Edit}">
                                    <td>  {{index+1}}  </td>
                                    <td v-if="!bodyStyle.Edit" :colspan="2" v-on:dblclick="bodyStyle.Edit = true; bodyStyle.NameCopy = bodyStyle.Name" tabindex="1">
                                        <span>{{bodyStyle.Name.toUpperCase()}}</span>
                                    </td>
                                    <td v-else :colspan="1" v-on:dblclick="cancel(bodyStyle)" tabindex="1">
                                        <input v-model="bodyStyle.Name" />
                                    </td>
                                    <td v-if="bodyStyle.Edit" class="action-btn-td">
                                        <span v-if="bodyStyle.Id" class="action-btn-span">
                                            <span class="font-awsome-span save-btn"><i title="Save" v-on:click="updateExistingBodyStyle(index); bodyStyle.Edit = !bodyStyle.Edit" class="fa fa-save"></i></span>
                                            <span title="Delete" v-on:click="deleteAnExistingItem(bodyStyle, 'BodyStyle', index)" class="font-awsome-span delete-btn"><i class="fa fa-trash"></i></span>
                                            <button title="Cancel" class="btn btn-circle default cancel-btn" v-on:click="cancel(bodyStyle)">Cancel</button>
                                        </span>
                                        <span v-else>
                                            <button title="Add" class="btn btn-info" v-on:click="addNewItem(bodyStyle, 'BodyStyle')"><i class="fa fa-plus"></i></button>
                                            <button title="Remove" class="btn btn-danger" v-on:click="removeRow('BodyStyle')"><i class="fa fa-ban"></i></button>pending...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right" colspan="3">
                                        <button class="btn btn-circle btn-info" v-on:click="addRow('BodyStyle')">Add New</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3" aria-expanded="false"> <center>Materials</center> </a>
                        </div>
                    </div>
                    <div id="collapse_3" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                            <table class="table table-bordered table-responsive table-hover table-striped">
                                <tr>
                                    <th colspan="3" style="background-color: darkturquoise">Materials</th>
                                </tr>
                                <tr v-for="(material,index) in listOfAllMaterial" :class="{'being-edited-background': material.Edit}">
                                    <td>{{index+1}}</td>
                                    <td v-if="!material.Edit" :colspan="2" v-on:dblclick="material.Edit = true; material.NameCopy = material.Name" tabindex="1">
                                        <span>{{material.Name.toUpperCase()}}  {{material.PricePerYard}}</span>
                                    </td>
                                    <td v-else :colspan="1" v-on:dblclick="cancel(material)" tabindex="1">
                                        <input v-model="material.Name" />
                                    </td>
                                    <td v-if="material.Edit" class="action-btn-td">
                                        <span v-if="material.Id" class="action-btn-span">
                                            <span class="font-awsome-span save-btn"><i title="Save" v-on:click="updateExistingmaterial(index); material.Edit = !material.Edit" class="fa fa-save"></i></span>
                                            <span title="Delete" v-on:click="deleteAnExistingItem(material,'Material', index)" class="font-awsome-span delete-btn"><i class="fa fa-trash"></i></span>
                                            <button title="Cancel" class="btn btn-circle default cancel-btn" v-on:click="cancel(material)">Cancel</button>
                                        </span>
                                        <span v-else>
                                            <button title="Add" class="btn btn-info" v-on:click="addNewItem(material,'Material')"><i class="fa fa-plus"></i></button>
                                            <button title="Remove" class="btn btn-danger" v-on:click="removeRow('Material')"><i class="fa fa-ban"></i></button>pending...
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right" colspan="3">
                                        <button class="btn btn-circle btn-info" v-on:click="addRow('Material')">Add New</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
