
@{
    ViewBag.Title = "NewProduction";
}

<h2>NewProduction</h2>
<div>
    <form method="post">
        <input class="form-control" type="file" />
        <button class="btn-danger">Submit</button>
    </form>
</div>

