
@{
    ViewBag.Title = "NewProductionConfimation";
}

<h2>NewProductionConfimation</h2>



<div id="prodApp">
    <Marker/>
</div>
@section scripts{
    <script src="~/Scripts/SiteScripts/prod-confrimation-vue.js"></script>
}