
@{
    ViewBag.Title = "Planned Production";
}
<style>
    .action-btn-td {
        padding-top: 0px !important;
        padding-left: 0px !important;
    }
    .action-btn-span{
        
        font-size:2em;
    }
    .save-btn {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px;
        color: #23232599;
        
    }
    .save-btn:hover {
        cursor: pointer;
        /*background-color: #b7b4b4;*/
        color:black;
    }
    .medium-input {
        width: 125px;
    }

    .add-size-btn {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-right: 0px !important;
        margin-left: -5px !important;
        height: 25px;
        width: 25px;
    }

    .increment-number-input {
        width: 40px;
    }

    .smalll-table {
        display: inline-flex;
        width: unset;
    }

    .small-input {
        text-align: center;
        width: 75px;
    }

    td.small-input {
        text-align: left !important;
    }

    input::-webkit-calendar-picker-indicator {
        display: none;
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

        input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    .head-input {
        margin-bottom: 50px;
    }

    .mini-button {
        width: 16.979166px;
        height: 16.979166px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

   
    

</style>

<div id="pp-app" v-cloak>
    <datalist id="skus">
        <option v-for="x in validationLists.skus">{{x.SKU}}</option>
    </datalist>
    <datalist id="production-catergories">
        <option v-for="x in validationLists.prodCats">{{x.Name}}</option>
    </datalist>
    <datalist id="materials">
        <option v-for="x in validationLists.materials">{{x.Name}}</option>
    </datalist>
    <datalist id="colors">
        <option v-for="x in validationLists.colors">{{x.Name}}</option>
    </datalist>
    <datalist id="sizes">
        <option v-for="x in validationLists.sizes">{{x.Name}}</option>
    </datalist>
    <datalist id="markers">
        <option v-for="x in validationLists.markers">{{x.Name}}</option>
    </datalist>
    <div v-if="errors.length > 0" class="alert alert-danger">
        @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
        <p v-for="msg in errors">
            {{msg}}
        </p>
    </div>
    <div class="row">
        <div class="row head-input">
            <div class="col-md-2">
                <button v-on:click="submitPlanedProduction" :disabled="!vaildPlannedProduction" class="btn btn-primary btn-block">Submit</button>
            </div>
            <div class="col-md-8">
                <div class="form-inline" style="text-align:center;">
                    <div class="form-group">
                        <input placeholder="Production Catergory" v-on:change="validatePlannedProd" v-on:blur="checkIfExsits" v-bind:class="[validationLists.prodCats && validationLists.prodCats.some(i => i.Name === plannedProduction.productionCat.Name) ? '': 'hasError' ]" type="text" list="production-catergories" class="form-control" v-model="plannedProduction.productionCat.Name" ref="productionCatInput" />
                    </div>
                    <div class="form-group">
                        <input placeholder="Production Catergory Year" v-on:blur="checkIfExsits" @*v-on:keydown.up="$event.preventDefault()"*@ v-on:change="validatePlannedProd" v-bind:class="[plannedProduction.productionCatYear && plannedProduction.productionCatYear.length === 4 ? '': 'hasError' ]" type="number" class="form-control" v-model="plannedProduction.productionCatYear" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-social-dribbble font-green btn-danger"></i>
                            <span  v-if="existingItems.length" class="caption-subject font-green bold uppercase">New</span>
                            <span class="caption-subject font-green bold uppercase">Items</span>
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default" v-on:click="addSkuRows(rowIncremntNumber)" href="javascript:;">
                                <i class="glyphicon glyphicon-plus"></i>
                            </a>
                            <input type="number" class="increment-number-input" v-model="rowIncremntNumber" />
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-wrench"></i>
                            </a>
                            <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                                <i class="icon-trash"></i>
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-scrollable smalll-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th> # </th>
                                        <th> SKU </th>
                                        <th> Quantity </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item,index) in items">
                                        <td>{{item.Id}}</td>
                                        <td>
                                            <input class="small-input" v-on:change="validatePlannedProd" type="text" v-bind:class="[validationLists.skus && validationLists.skus.some(i => i.SKU === item.SKU) ? '': 'hasError' ]" list="skus" v-model="item.SKU" />

                                        </td>
                                        <td>
                                            <input class="small-input" v-on:change="validatePlannedProd" type="number" v-bind:class="[item.Quantity > 0 ? '': 'hasError' ]" v-model="item.Quantity" />
                                        </td>
                                        <td>
                                            <a v-on:click="removeSkuLine(index)" class="btn btn-circle red-sunglo btn-sm">X</a>
                                        </td>


                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
               </div>
                <div class="row" v-if="existingItems.length">
                    <div class="portlet light bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-social-dribbble font-green"></i>
                                <span class="caption-subject font-green bold uppercase">Old Items</span>
                            </div>
                            
                        </div>
                        <div class="portlet-body">
                            <div class="table-scrollable smalll-table">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th> # </th>
                                            <th> SKU </th>
                                            <th> Quantity </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="(item,index) in existingItems">
                                            <tr  v-if="item.Edit "v-on:blur="item.Edit = false">
                                                <td>{{item.ItemId}}</td>
                                                <td>
                                                    @*<input class="small-input" v-on:change="validatePlannedProd" type="text" v-bind:class="[validationLists.skus && validationLists.skus.some(i => i.SKU === item.SKU) ? '': 'hasError' ]" list="skus" v-model="item.SKU" />*@
                                                    {{item.SKU}}
                                                </td>
                                                <td>
                                                    <input class="small-input" v-on:change="validatePlannedProd" type="number" v-bind:class="[item.Quantity > 0 ? '': 'hasError' ]" v-model="item.Quantity" />
                                                </td>
                                                <td class="action-btn-td">
                                                    <span class="action-btn-span"><span class="save-btn"><i title="Save"  v-on:click="updateExistingItem(index)" class="fa fa-save"></i></span><a title="Delete" v-on:click="deleteAExistingItem(item.Id,index)" class=" btn btn-circle red-sunglo btn-sm">X</a></span>
                                                    @*<a v-on:click="deleteAExistingItem(index)" class="btn btn-circle red-sunglo btn-sm" data-title="Do you agree to the Terms and Conditions?" data-type="warning" data-allow-outside-click="true" data-show-confirm-button="true" data-show-cancel-button="true" data-cancel-button-class="btn-danger" data-cancel-button-text="No, I do not agree" data-confirm-button-text="Yes, I agree" data-confirm-button-class="btn-info">X</a>*@
                                                    <br />
                                                    <button title="Cancel" class="btn btn-circle default" V-on:click="item.Edit = false; item.Quantity = item.QuanityCopy">Cancel</button>
                                                </td>
                                            </tr>
                                            <tr v-else v-on:focus="existingItems[index].Edit = true; item.QuanityCopy = item.Quantity" tabindex="1">
                                                <td>{{item.ItemId}}</td>
                                                <td>
                                                    {{item.SKU}}
                                                </td>
                                                <td>
                                                    {{item.Quantity}}
                                                </td>
                                            </tr>

                                        </template>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-8">
                <div class="portlet light bordered">
                    <div class="portlet-title" style="border-bottom:none;">
                        <h3 style="text-align:center;margin-bottom:25px;font-weight:bold;border-bottom: 1px solid #eef1f5;">Item Wizard</h3>
                        <div v-if="productionWizard.errors.length > 0" class="alert alert-danger">
                            @*<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>*@
                            <p v-for="msg in productionWizard.errors">
                                {{msg}}
                            </p>
                        </div>
                        <div class="form-row-stripped">
                            <label class="col-md-3 col-form-label" for="marker">Marker Catergory</label>
                            <input v-on:change="validateWizard" class="col-md-3" type="text" list="markers" name="marker" v-bind:class="[validationLists.markers && validationLists.markers.some(i => i.Name === productionWizard.marker.Name) ? '': 'hasError' ]" v-model="productionWizard.marker.Name" placeholder="Marker Catergory" />
                            <label class="col-md-2 col-form-label" for="material">Material</label>
                            <input v-on:change="validateWizard" class="col-md-2" type="text" list="materials" name="material" v-bind:class="[validationLists.materials && validationLists.materials.some(i => i.Name === productionWizard.material.Name) ? '': 'hasError' ]" v-model="productionWizard.material.Name" placeholder="Material" />
                        </div>

                        <div class="actions">
                            @*<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-wrench"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                            <i class="icon-trash"></i>
                        </a>*@
                        </div>
                    </div>
                    <div v-if="productionWizard.items.length > 0" class="portlet-body" style="overflow:auto">
                        <div class="table-scrollable smalll-table">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-decoration:underline;">
                                            <a title="Add a color" v-on:click="addColor()" class="btn btn-circle btn-icon-only green add-size-btn">+</a>
                                            Colors
                                            <span style="margin-left:65px;">
                                                <a title="Add a size" v-on:click="addSize()" class="btn btn-circle btn-icon-only green add-size-btn">+</a>
                                                Size/s:
                                            </span>
                                        </th>
                                        <template v-for="(size, index) in productionWizard.sizes">
                                            <th class="small-input">
                                                <input v-on:change="validateWizard" class="small-input" type="text" v-bind:class="[validationLists.sizes && validationLists.sizes.some(i => i.Name === size.Name) ? '': 'hasError' ]" list="sizes" v-model="size.Name" />
                                                <span><a v-on:click="removeSize(index)" class="btn btn-circle btn-icon-only red-sunglo mini-button">X</a></span>
                                            </th>

                                        </template>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(color,index) in productionWizard.colors">
                                        <th>
                                            <input v-on:change="validateWizard" class="medium-input" type="text" v-bind:class="[validationLists.colors && validationLists.colors.some(i => i.Name === color.Name) ? '': 'hasError' ]" list="colors" v-model="color.Name" />
                                        </th>
                                        <template v-for="size in productionWizard.sizes">
                                            <td class="small-input">
                                                <input class="small-input" v-on:change="validateWizard" type="number" v-model="productionWizard.items.filter(c=> c.size === size && c.color === color)[0].Quantity" />
                                            </td>

                                        </template>
                                        <td>
                                            <a v-on:click="removeColor(index)" class="btn btn-circle btn-icon-only red-sunglo">X</a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div class="col-md-4 col-md-offset-4">
                            <a id="blockui_sample_2_4" v-on:click="submitWizard" :disabled="!formVaild" class="btn btn-info btn-block">Save</a>
                        </div>
                    </div>
                    <div v-else>
                        <button v-on:click="addTheGrid" data-toggle="confirmation" class="btn btn-circle green btn-sm">Add The Color and Sizes Grid</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
   
@section scripts{
    <script src="~/Metronic/theme/assets/global/plugins/bootstrap-sweetalert/sweetalert.js"></script>
    <script src="~/Metronic/theme/assets/global/plugins/bootstrap-confirmation/bootstrap-confirmation.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/SiteScripts/planned-production.js"></script>
}
@section css{
    <link href="~/Metronic/theme/assets/global/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    }

