<div id="app" v-cloak>
    <img src="~/Metronic/theme/assets/global/img/loading-spinner-grey.gif" align="middle" />
    <div class="row site-body">
        <h1 class="page-header text-center">{{pageHeader}}</h1>
        <div class="col-md-12 col-md-offset-0">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active table-li"><a href="#byItems" v-on:click="itemTab" data-toggle="tab">By Item</a></li>
                <li class="table-li"><a v-on:click="productionTab" href="#byProductions" data-toggle="tab">By Production</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active tab-div" id="byItems">
                    <div class="col-md-10 col-md-offset-1 byItems">
                        <div class="col-md-6">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="expand caption">
                                        <i class="fa fa-reorder"></i>
                                        Filter
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="expand" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" class="reload" data-original-title="" title=""> </a>
                                        @*<a href="javascript:;" class="remove" data-original-title="" title=""> </a>*@
                                    </div>
                                </div>
                                <div class="portlet-body" style="display: none;">
                                    <div class="panel-group accordion" id="accordion1">
                                        @*all test*@
                                        <div v-for="(key,k,index) in filterLists" class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" v-bind:href="'#collapse_' + index"> {{k}} </a>
                                                </h4>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-1">
                                                    <h4 class="selected-count-text">
                                                        {{countMsg[k]}}
                                                    </h4>
                                                </div>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <button class="btn-success btn-circle filter-btns" v-on:click="checkClearBoxesAtribute(k,true)">Fill All</button>
                                                    <button class="btn-danger btn-circle filter-btns" v-on:click="checkClearBoxesAtribute(k,false)">Clear</button>
                                                </div>
                                            </div>
                                            <div :id="'collapse_' + index" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div v-for="item in filterLists[k]" class="pretty p-svg p-curve">
                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--oldway filter-->
                                        <!--Departments-->
                                        @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Departments </a>
                </h4>
            </div>
            <div id="collapse_1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <button class="btn-success btn-circle" v-on:click="checkClearBoxesAtribute('departments',true)">Fill All</button>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn-danger btn-circle" v-on:click="checkClearBoxesAtribute('departments',false)">Clear All</button>
                        </div>
                    </div>
                    <div v-for="item in filterLists.departments" class="pretty p-svg p-curve">
                        <input type="checkbox" v-model="item.Selected" />
                        <div class="state p-success">
                            <!-- svg path -->
                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                            </svg>
                            <label>{{item.Name}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--materail-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2"> Material </a>
                                                </h4>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-md-offset-1">
                                                    <h4 class="selected-count-text">
                                                        {{countMsg['materials']}}
                                                    </h4>
                                                </div>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <button class="btn-success btn-circle filter-btns" v-on:click="checkClearBoxesAtribute('materials',true)">Fill All</button>
                                                    <button class="btn-danger btn-circle filter-btns" v-on:click="checkClearBoxesAtribute('materials',false)">Clear</button>
                                                </div>
                                            </div>
                                            <div id="collapse_2" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    @*<div class="col-md-12">
                        <div class="col-md-4">
                            <button class="btn-success btn-circle" v-on:click="checkClearBoxesAtribute('materials',true)">Fill All</button>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <button class="btn-danger btn-circle" v-on:click="checkClearBoxesAtribute('materials',false)">Clear All</button>
                        </div>
                    </div>
                                                    <div v-for="item in filterLists.materials" class="pretty p-svg p-curve">
                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--body stlye-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3"> Body Stlye </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_3" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <!--<div class="col-md-12">
                    <div class="col-md-4">
                        <button class="btn-success btn-circle" v-on:click="checkClearBoxesAtribute('bodyStyles',true)">Fill All</button>
                    </div>
                    <div class="col-md-4 col-md-offset-4">
                        <button class="btn-danger btn-circle" v-on:click="checkClearBoxesAtribute('bodyStyles',false)">Clear All</button>
                    </div>
                </div>-->
                                                    <div v-for="item in filterLists.bodyStyles" class="pretty p-svg p-curve">
                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--sleeve-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4"> Sleeve Length </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_4" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <button class="btn-success btn-circle" v-on:click="checkClearBoxesAtribute('sleeves',true)">Fill All</button>
                                                        </div>
                                                        <div class="col-md-4 col-md-offset-4">
                                                            <button class="btn-danger btn-circle" v-on:click="checkClearBoxesAtribute('sleeves',false)">Clear All</button>
                                                        </div>
                                                    </div>
                                                    <div v-for="item in filterLists.sleeves" class="pretty p-svg p-curve">
                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--color-->

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5"> Color </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_5" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="col-md-4">
                                                                <button class="btn-success btn-circle" v-on:click="checkClearBoxesAtribute('colors',true)">Fill All</button>
                                                            </div>
                                                            <div class="col-md-4 col-md-offset-4">
                                                                <button class="btn-danger btn-circle" v-on:click="checkClearBoxesAtribute('colors',false)">Clear All</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" v-for="item in filterLists.colors">
                                                            <div class="pretty p-svg p-curve">
                                                                <input type="checkbox" v-model="item.Selected" />
                                                                <div class="state p-success">
                                                                    <!-- svg path -->
                                                                    <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                        <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                                    </svg>
                                                                    <label>{{item.Name}}</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Sizes-->
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6"> Sizes </a>
                                                </h4>
                                            </div>
                                            <div id="collapse_6" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <button class="btn-success btn-circle" v-on:click="checkClearBoxesAtribute('sizes',true)">Fill All</button>
                                                        </div>
                                                        <div class="col-md-4 col-md-offset-4">
                                                            <button class="btn-danger btn-circle" v-on:click="checkClearBoxesAtribute('sizes',false)">Clear All</button>
                                                        </div>
                                                    </div>
                                                    <div v-for="item in filterLists.sizes" class="pretty p-svg p-curve">

                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                @*<template v-for="header in tableHeaders">

                                        <th>{{header}}</th>
                                    </template>*@
                                <th class="th-sort" v-on:click="itemsInProductionDescSortKey = itemsInProductionSortKey==='Id' ? !itemsInProductionDescSortKey : itemsInProductionDescSortKey; itemsInProductionSortKey='Id'; orderArray()">
                                    <span>Id</span>
                                    <i v-if="(!itemsInProductionDescSortKey && itemsInProductionSortKey==='Id') || itemsInProductionSortKey!=='Id'" class="fa fa-sort-asc"></i>
                                    <i v-if="(itemsInProductionDescSortKey && itemsInProductionSortKey==='Id') || itemsInProductionSortKey!=='Id'" class="fa fa-sort-desc"></i>
                                </th>
                                <th class="th-sort" v-on:click="itemsInProductionDescSortKey = itemsInProductionSortKey==='SKU' ? !itemsInProductionDescSortKey : itemsInProductionDescSortKey; itemsInProductionSortKey='SKU'; orderArray()">
                                    <i v-if="(!itemsInProductionDescSortKey && itemsInProductionSortKey==='SKU') || itemsInProductionSortKey!=='SKU'" class="fa fa-sort-asc"></i>
                                    <i v-if="(itemsInProductionDescSortKey && itemsInProductionSortKey==='SKU') || itemsInProductionSortKey!=='SKU'" class="fa fa-sort-desc"></i>SKU
                                </th>
                                <th class="th-sort" v-on:click="itemsInProductionDescSortKey = itemsInProductionSortKey==='LastCuttingInstructionDate' ? !itemsInProductionDescSortKey : itemsInProductionDescSortKey; itemsInProductionSortKey='LastCuttingInstructionDate'; orderArray()">
                                    <i v-if="(!itemsInProductionDescSortKey && itemsInProductionSortKey==='LastCuttingInstructionDate') || itemsInProductionSortKey!=='LastCuttingInstructionDate'" class="fa fa-sort-asc"></i>
                                    <i v-if="(itemsInProductionDescSortKey && itemsInProductionSortKey==='LastCuttingInstructionDate') || itemsInProductionSortKey!=='LastCuttingInstructionDate'" class="fa fa-sort-desc"></i>Last Production Date
                                </th>
                                <th class="th-sort" v-on:click="itemsInProductionDescSortKey = itemsInProductionSortKey==='ItemsNotReceived' ? !itemsInProductionDescSortKey : itemsInProductionDescSortKey; itemsInProductionSortKey='ItemsNotReceived'; orderArray()">
                                    <i v-if="(!itemsInProductionDescSortKey && itemsInProductionSortKey==='ItemsNotReceived') || itemsInProductionSortKey!=='ItemsNotReceived'" class="fa fa-sort-asc"></i>
                                    <i v-if="(itemsInProductionDescSortKey && itemsInProductionSortKey==='ItemsNotReceived') || itemsInProductionSortKey!=='ItemsNotReceived'" class="fa fa-sort-desc"></i>Items In Production
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            @*<template v-for="item in itemsInProduction">*@
                            @*<div  v-if="itemsInProduction.length">*@

                            <template v-for="item in orderedUsers">
                                <tr>

                                    <td>{{item.Id}}</td>
                                    <td>{{item.SKU}}</td>
                                    <td>{{item.LastCuttingInstructionDate}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    @*<td>{{item.PercentageRecived}}</td>*@
                                    <td><button v-bind:id="item.Id" class="btn btn-primary" v-on:click="detailsForItem($event)">Details</button></td>
                                </tr>
                            </template>
                            @*</div>*@

                        </table>
                    </div>
                </div>
                <div class="tab-pane tab-div" id="byProductions">
                    <div class="col-md-10 col-md-offset-1 byProductions">
                        <br />
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                <th>Id </th>
                                <th class="lot-cell">Lot #s</th>
                                <th>Date</th>
                                <th>Total Items</th>
                                <th>Items Not Recived</th>
                                <th>Percentage Filled</th>
                                <th>Actions</th>
                            </tr>
                            <template v-for="item in productions">
                                <tr>
                                    <td>{{item.Id}}</td>
                                    <td class="lot-cell">{{item.Lot}}</td>
                                    <td>{{item.Date}}</td>
                                    <td>{{item.TotalItems}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    <td>{{item.PercentageFilled}}</td>
                                    <td>
                                        <button v-bind:id="item.Id" class="btn btn-primary" v-on:click="detailsForProduction($event)">Details</button>
                                        <button v-bind:id="item.Id" :disabled="item.ItemsNotReceived <= 0" class="btn btn-success" v-on:click="recivedItemButton($event)">Recived Items</button>
                                        <button v-bind:id="item.Id" class="btn btn-secondary" v-on:click="download($event)">Download</button>
                                        <a v-bind:id="item.Id" v-on:click="printBarCodes(item.Id)" title="Print Barcodes" href="#" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-barcode"></span>
                                        </a>
                                    </td>
                                </tr>
                            </template>

                        </table>
                    </div>
                    <div>
                        <template>

                        </template>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="modal fade" id="detail-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Viewing the activity for :{{currentProduction.Name}} {{currentItem.Name}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <tr>
                            <template v-for="header in detailHeaders">
                                <th>{{header}}</th>
                            </template>
                        </tr>

                        <template v-if="isSkus" v-for="item in itemActivty">
                            <tr>
                                <td hidden>{{item.Type}}</td>
                                <td style="background-color:lightsalmon" v-if="item.Type == 1">Recived:</td>
                                <td style="background-color:lightblue" v-else>Ordered: {{item.Date}}</td>
                                <td>{{item.Date}}</td>
                                <td>{{item.Quantity}}</td>
                            </tr>
                        </template>
                        <template v-if="isProd" v-for="item in productionDetails">
                            <tr>
                                <td><a v-bind:Id="item.Id" v-on:click="skuProdDeatails" href="#">{{item.SKU}}</a></td>
                                <td>{{item.Lot}}</td>
                                <td>{{item.Ordered}}</td>
                                <td>{{item.Received}}</td>
                                <td>{{item.PercentageFilled}}</td>

                            </tr>
                        </template>
                    </table>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-primary" v-on:click="backToProduction" v-if="backButton"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="recive-items-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Recived items for {{currentProduction.Name}}</h4>
                </div>
                <div class="modal-body">

                    <label for="date">Date</label>
                    <input type="date" name="date" v-model="recivedItemProduction.Date" />
                    <div style="overflow:scroll; max-height:450px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <tr>
                                <th>Sku</th>
                                <th>Quantity Ordered</th>
                                <th>Quantity Recived</th>
                                <th>Percent Filled</th>
                                <th>Recived <button class="btn btn-success" v-on:click="fillAll">{{fillBtnText}}</button></th>
                            </tr>
                            <template v-for="(item,index) in recivedItems">
                                <tr>
                                    <td>{{item.SKU}}</td>
                                    <td>{{item.Ordered}}</td>
                                    <td>{{item.Received}}</td>
                                    <td>{{item.PercentageFilled}}</td>
                                    <td><label style="color:red" v-if="item.ItemsRecived > (item.Ordered - item.Received)" for="item.Id">You entered to many items!</label><input type="text" v-model="item.ItemsRecived" :disabled="(item.Ordered - item.Received) <= 0" class="form-control" name="item.Id" /></td>
                                </tr>
                            </template>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <button v-on:click="submitRecivedItems" :disabled="checkVal" id="submitRecivedItems" class="btn btn-success btn-block">Submit</button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

@section Scripts{
    @*<script src="~/Scripts/lodash.js"></script>*@
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Metronic/theme/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/SiteScripts/Index.js"></script>
    
    }

@section css{
    <link rel="stylesheet" href="~/Content/Index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
}