<div id="app">
    <div class="row site-body">
        <h1 class="page-header text-center">{{pageHeader}}</h1>
        <div class="col-md-12 col-md-offset-0">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active table-li"><a href="#byItems" data-toggle="tab">By Item</a></li>
                <li class="table-li"><a v-on:click="productionTab" href="#byProductions" data-toggle="tab">By Production</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="byItems">
                    <div class="col-md-10 col-md-offset-1">
                        <br />
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                <template v-for="header in tableHeaders">
                                    <th>{{header}}</th>
                                </template>
                            </tr>
                            <template v-for="item in itemsInProduction">
                                <tr>

                                    <td>{{item.Id}}</td>
                                    <td>{{item.SKU}}</td>
                                    <td>{{item.LastCuttingInstructionDate}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    <td>{{item.PercentageRecived}}</td>
                                    <td><button v-bind:id="item.Id" class="btn btn-primary" v-on:click="detailsForItem($event)">Details</button></td>
                                </tr>
                            </template>

                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="byProductions">
                    <div class="col-md-10 col-md-offset-1">
                        <br />
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                <th>Id </th>
                                <th>Lot #s</th>
                                <th>Date</th>
                                <th>Total Items</th>
                                <th>Items Not Recived</th>
                                <th>Percentage Filled</th>
                                <th>Actions</th>
                            </tr>
                            <template v-for="item in productions">
                                <tr>
                                    <td>{{item.Id}}</td>
                                    <td>{{item.Lot}}</td>
                                    <td>{{item.Date}}</td>
                                    <td>{{item.TotalItems}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    <td>{{item.PercentageFilled}}</td>
                                    <td>
                                    <button v-bind:id="item.Id" class="btn btn-primary" v-on:click="detailsForProduction($event)">Details</button>
                                    <button v-bind:id="item.Id" :disabled="item.ItemsNotReceived <= 0" class="btn btn-success" v-on:click="recivedItemButton($event)">Recived Items</button>
                                    </td>
                                </tr>
                            </template>

                        </table>
                    </div>
                    <div>
                        <template>

                        </template>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="modal fade" id="detail-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Viewing the activity for :{{currentProduction.Name}} {{currentItem.Name}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <tr>
                            <template v-for="header in detailHeaders">
                                <th>{{header}}</th>
                            </template>
                        </tr>

                        <template v-if="isSkus" v-for="item in itemActivty">
                            <tr >
                                <td hidden>{{item.Type}}</td>
                                <td style="background-color:lightsalmon" v-if="item.Type == 1">Recived:</td>
                                <td  style="background-color:lightblue" v-else>Ordered: {{item.Date}}</td>
                                <td>{{item.Date}}</td>
                                <td>{{item.Quantity}}</td>
                            </tr>
                        </template>
                        <template v-if="isProd" v-for="item in productionDetails">
                            <tr>
                                <td><a v-bind:Id="item.Id" v-on:click="skuProdDeatails" href="#">{{item.SKU}}</a></td>
                                <td>{{item.Lot}}</td>
                                <td>{{item.Ordered}}</td>
                                <td>{{item.Received}}</td>
                                <td>{{item.PercentageFilled}}</td>

                            </tr>
                        </template>
                    </table>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-primary" v-on:click="backToProduction" v-if="backButton"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="recive-items-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Recived items for {{currentProduction.Name}}</h4>
                </div>
                <div class="modal-body">
                    <template v-for="item in recivedItems">
                        </template>
                        <label for="date">Date</label>
                        <input type="date" name="date" v-model="recivedItemProduction.Date" />
                        <div style="overflow:scroll; max-height:450px;">
                            <table class="table table-bordered table-hover table-responsive">
                                <tr>
                                    <th>Sku</th>
                                    <th>Quantity Ordered</th>
                                    <th>Quantity Recived</th>
                                    <th>Percent Filled</th>
                                    <th>Recived <button class="btn btn-success" v-on:click="fillAll">{{fillBtnText}}</button></th>
                                </tr>
                                <template v-for="(item,key,index) in recivedItems">
                                    <tr>
                                        <td>{{item.SKU}}</td>
                                        <td>{{item.Ordered}}</td>
                                        <td>{{item.Received}}</td>
                                        <td>{{item.PercentageFilled}}</td>
                                        <td><label style="color:red" v-if="item.ItemsRecived > (item.Ordered - item.Received)" for="item.Id">You entered to many items!</label><input type="text" v-model="item.ItemsRecived" :disabled="(item.Ordered - item.Received) <= 0" class="form-control" name="item.Id" /></td>
                                    </tr>
                                </template>
                            </table>
                        </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <button v-on:click="submitRecivedItems" :disabled="checkVal" id="submitRecivedItems" class="btn btn-success btn-block">Submit</button>
                        </div>
                        <button type="button"  class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

@section Scripts{
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/SiteScripts/Index.js"></script>
    }

@section css{
    <link rel="stylesheet" href="~/Content/Index.css">
}