<div id="app" v-cloak>
    <img src="~/Metronic/theme/assets/global/img/loading-spinner-grey.gif" align="middle" />
    <div class="row site-body">
        <h1 class="page-header text-center">{{pageHeader}}</h1>
        <div class="col-md-12 col-md-offset-0">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active table-li"><a href="#byItems" v-on:click="itemTab" data-toggle="tab">Items in Production</a></li>
                <li class="table-li"><a v-on:click="productionTab" href="#byProductions" data-toggle="tab">Productions</a></li>
                <li class="table-li"><a v-on:click="seasonTab" href="#bySeason" data-toggle="tab">Season</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active tab-div" id="byItems">
                    <div class="col-md-10 col-md-offset-1 byItems">
                        <div class="col-md-6">
                            <div class="portlet box green">
                                <div class="tools portlet-title" v-on:click="openClosePortlet" style="cursor:pointer;">

                                    <div class="expand caption col-md-2">
                                        <i class="fa fa-reorder"></i>
                                        Filter
                                    </div>
                                    @*<div class="col-md-6">
                                <button v-on:click="clearFillAllFilter(true)" class="btn btn-primary">Fill All</button>
                                <button v-on:click="clearFillAllFilter(false)" class="btn btn-danger">Clear All</button>
                                <button :disabled="applyBtnDisable" v-on:click="applyFilter" class="btn btn-default">Apply</button>
                            </div>*@
                                    <div v-on:click.stop="" class="tools col-md-3" style="text-align:end;">
                                        <a href="javascript:;" v-on:click="openClosePortlet" v-bind:class="productionItems.displayBody.expandTool" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" v-on:click="resetFilters" class="reload" data-original-title="" title=""> </a>
                                        @*<a href="javascript:;" class="remove" data-original-title="" title=""> </a>*@
                                    </div>
                                </div>
                                <div class="portlet-body" v-bind:style="{display: productionItems.displayBody.display}">
                                    <div class="panel-group accordion">
                                        @*all test*@
                                        <div v-for="(key,k,index) in productionItems.filterLists" class="panel panel-default">
                                            <div :class="{'not-selected-greyed' : !countMsg[k]}" class="row row-no-margin panel-heading">
                                                <div class="col-md-8">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" v-bind:href="'#collapse_' + index"> {{k}} </a>
                                                        @*<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> {{k}} </a>*@
                                                    </h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <h4 class="selected-count-text">
                                                        {{countMsg[k]}}
                                                    </h4>
                                                </div>
                                            </div>

                                            @*<div id="collapse_1" class="panel-collapse collapse">*@
                                            <div :id="'collapse_' + index" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        @*<div class="col-md-4 col-md-offset-1">
                                                    <h4 class="selected-count-text">
                                                        {{countMsg[k]}}
                                                    </h4>
                                                </div>*@
                                                        <div class="col-md-4">
                                                            <button class="btn-success btn-circle filter-btns" v-on:click="checkClearBoxesAtribute(k,true)">Fill All</button>
                                                            <button class="btn-danger btn-circle filter-btns" v-on:click="checkClearBoxesAtribute(k,false)">Clear</button>
                                                        </div>
                                                    </div>
                                                    <div v-for="item in productionItems.filterLists[k]" class="pretty p-svg p-curve">
                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <input type="text" name="itemSearch" v-model="productionItems.itemSearch" class="form-control" placeholder="Search for..." />
                        </div>
                        <br />
                        <p><h4>Showing {{orderedArray ? orderedArray.length : 0}} items</h4></p>
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                @*<template v-for="header in tableHeaders">

                            <th>{{header}}</th>
                        </template>*@
                                <th class="th-sort" v-on:click="productionItems.descSortKey = productionItems.sortKey==='Id' ? !productionItems.descSortKey : productionItems.descSortKey; productionItems.sortKey='Id'">
                                    <span>Id</span>
                                    <i v-if="(!productionItems.descSortKey && productionItems.sortKey==='Id') || productionItems.sortKey!=='Id'" class="fa fa-sort-asc"></i>
                                    <i v-if="(productionItems.descSortKey && productionItems.sortKey==='Id') || productionItems.sortKey!=='Id'" class="fa fa-sort-desc"></i>
                                </th>
                                <th class="th-sort" v-on:click="productionItems.descSortKey = productionItems.sortKey==='SKU' ? !productionItems.descSortKey : productionItems.descSortKey; productionItems.sortKey='SKU'; ">
                                    <i v-if="(!productionItems.descSortKey && productionItems.sortKey==='SKU') || productionItems.sortKey!=='SKU'" class="fa fa-sort-asc"></i>
                                    <i v-if="(productionItems.descSortKey && productionItems.sortKey==='SKU') || productionItems.sortKey!=='SKU'" class="fa fa-sort-desc"></i>SKU
                                </th>
                                <th class="th-sort" v-on:click="productionItems.descSortKey = productionItems.sortKey==='LastCuttingInstructionDate' ? !productionItems.descSortKey : productionItems.descSortKey; productionItems.sortKey='LastCuttingInstructionDate';">
                                    <i v-if="(!productionItems.descSortKey && productionItems.sortKey==='LastCuttingInstructionDate') || productionItems.sortKey!=='LastCuttingInstructionDate'" class="fa fa-sort-asc"></i>
                                    <i v-if="(productionItems.descSortKey && productionItems.sortKey==='LastCuttingInstructionDate') || productionItems.sortKey!=='LastCuttingInstructionDate'" class="fa fa-sort-desc"></i>Last Production Date
                                </th>
                                <th class="th-sort" v-on:click="productionItems.descSortKey = productionItems.sortKey==='ItemsNotReceived' ? !productionItems.descSortKey : productionItems.descSortKey; productionItems.sortKey='ItemsNotReceived';">
                                    <i v-if="(!productionItems.descSortKey && productionItems.sortKey==='ItemsNotReceived') || productionItems.sortKey!=='ItemsNotReceived'" class="fa fa-sort-asc"></i>
                                    <i v-if="(productionItems.descSortKey && productionItems.sortKey==='ItemsNotReceived') || productionItems.sortKey!=='ItemsNotReceived'" class="fa fa-sort-desc"></i>Items In Production
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            @*<template v-for="item in itemsInProduction">*@
                            @*<div  v-if="itemsInProduction.length">*@

                            <template v-for="item in orderedArray">
                                <tr>

                                    <td>{{item.Id}}</td>
                                    <td>{{item.SKU}}</td>
                                    <td>{{item.LastCuttingInstructionDatePretty}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    @*<td>{{item.PercentageRecived}}</td>*@
                                    <td><button v-bind:id="item.Id" class="btn btn-primary" v-on:click="detailsForItem($event)">Details</button></td>
                                </tr>
                            </template>
                            @*</div>*@

                        </table>
                    </div>
                </div>
                <div class="tab-pane tab-div" id="byProductions">
                    <div class="col-md-10 col-md-offset-1 byProductions">
                        <br />
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                <th>Id </th>
                                <th class="lot-cell">Lot #s</th>
                                <th>Date</th>
                                <th>Total Items</th>
                                <th>Items Not Recived</th>
                                <th>Percentage Filled</th>
                                <th>Actions</th>
                            </tr>
                            <template v-for="item in productions">
                                <tr>
                                    <td>{{item.Id}}</td>
                                    <td class="lot-cell">{{item.Lot}}</td>
                                    <td>{{item.Date}}</td>
                                    <td>{{item.TotalItems}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    <td>{{item.PercentageFilled}}</td>
                                    <td>
                                        <button v-bind:id="item.Id" class="btn btn-primary" v-on:click="detailsForProduction($event)">Details</button>
                                        <button v-bind:id="item.Id" :disabled="item.ItemsNotReceived <= 0" class="btn btn-success" v-on:click="recivedItemButton($event)">Recived Items</button>
                                        <button v-bind:id="item.Id" class="btn btn-secondary" v-on:click="download($event)">Download</button>
                                        <a v-bind:id="item.Id" v-on:click="printBarCodes(item.Id)" title="Print Barcodes" href="#" class="btn btn-default btn-sm">
                                            <span class="glyphicon glyphicon-barcode"></span>
                                        </a>
                                    </td>
                                </tr>
                            </template>

                        </table>
                    </div>
                    <div>
                        <template>

                        </template>
                    </div>
                </div>
                <div class="tab-pane tab-div" id="bySeason">
                    <div class="col-md-10 col-md-offset-1 bySeason">
                        <div class="col-md-6">
                            <div class="portlet box green">
                                <div class="tools portlet-title" v-on:click="openClosePortletSeason" style="cursor:pointer;">

                                    <div class="expand caption col-md-2">
                                        <i class="fa fa-reorder"></i>
                                        Filter
                                    </div>

                                    <div v-on:click.stop="" class="tools col-md-3" style="text-align:end;">
                                        <a href="javascript:;" v-on:click="openClosePortletSeason" v-bind:class="seasonItems.displayBody.expandTool" data-original-title="" title=""> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                                        <a href="javascript:;" v-on:click="resetFiltersSeasons" class="reload" data-original-title="" title=""> </a>
                                        @*<a href="javascript:;" class="remove" data-original-title="" title=""> </a>*@
                                    </div>
                                </div>
                                <div class="portlet-body" v-bind:style="{display: seasonItems.displayBody.display}">
                                    <div class="panel-group accordion">
                                        @*all test*@
                                        <div v-for="(key,k,index) in seasonItems.filterLists" class="panel panel-default">
                                            <div :class="{'not-selected-greyed' : !countMsg[k]}" class="row row-no-margin panel-heading">
                                                <div class="col-md-8">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" v-bind:href="'#season-collapse_' + index"> {{k}} </a>
                                                        @*<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> {{k}} </a>*@
                                                    </h4>
                                                </div>
                                                <div class="col-md-4">
                                                    <h4 class="selected-count-text">
                                                        {{countMsg[k]}}
                                                    </h4>
                                                </div>
                                            </div>

                                            @*<div id="collapse_1" class="panel-collapse collapse">*@
                                            <div :id="'season-collapse_' + index" class="panel-collapse collapse">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        @*<div class="col-md-4 col-md-offset-1">
                                            <h4 class="selected-count-text">
                                                {{countMsg[k]}}
                                            </h4>
                                        </div>*@
                                                        <div class="col-md-4">
                                                            <button class="btn-success btn-circle filter-btns" v-on:click="checkClearBoxesAtributeSeason(k,true)">Fill All</button>
                                                            <button class="btn-danger btn-circle filter-btns" v-on:click="checkClearBoxesAtributeSeason(k,false)">Clear</button>
                                                        </div>
                                                    </div>
                                                    <div v-for="item in seasonItems.filterLists[k]" class="pretty p-svg p-curve">
                                                        <input type="checkbox" v-model="item.Selected" />
                                                        <div class="state p-success">
                                                            <!-- svg path -->
                                                            <svg class="svg svg-icon" viewBox="0 0 20 20">
                                                                <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z" style="stroke: white;fill:white;"></path>
                                                            </svg>
                                                            <label>{{item.Name}}</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="text" name="itemSearch" v-model="seasonItems.itemSearch" class="form-control" placeholder="Search for..." />
                        </div>
                        <div class="col-md-4">
                            <div class="s-input-group s-mb-5 all-season-select">
                                <div class="s-input-group-prepend">
                                    <label style="font-weight:600;" class="s-input-group-text" for="plannedProductions">Seasons</label>
                                </div>
                                <select class="s-custom-select" v-model="seasonItems.season.PlannedProductionId" v-on:change="changedSeason" id="plannedProductions">
                                    <template v-for="palnnedProd in plannedProductions">
                                        <option v-bind:value="palnnedProd.Id">{{palnnedProd.Name}}</option>
                                    </template>

                                </select>
                            </div>
                        </div>
                        <br />
                        <p><h4>Showing {{orderedArraySeason ? orderedArraySeason.length : 0}} items</h4></p>
                        <table class="table table-bordered table-responsive table-striped">

                            <tr>
                                @*<template v-for="header in tableHeaders">

        <th>{{header}}</th>
        </template>*@
                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='Id' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='Id'">
                                    <span>Id</span>
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='Id') || seasonItems.sortKey!=='Id'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='Id') || seasonItems.sortKey!=='Id'" class="fa fa-sort-desc"></i>
                                </th>
                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='SKU' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='SKU'; ">
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='SKU') || seasonItems.sortKey!=='SKU'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='SKU') || seasonItems.sortKey!=='SKU'" class="fa fa-sort-desc"></i>SKU
                                </th>

                                
                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='PercentageFilled' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='PercentageFilled'; ">
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='PercentageFilled') || seasonItems.sortKey!=='PercentageFilled'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='PercentageFilled') || seasonItems.sortKey!=='PercentageFilled'" class="fa fa-sort-desc"></i>Percent Filled (incluing ordered)
                                </th>

                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='PlannedAmount' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='PlannedAmount'; ">
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='PlannedAmount') || seasonItems.sortKey!=='PlannedAmount'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='PlannedAmount') || seasonItems.sortKey!=='PlannedAmount'" class="fa fa-sort-desc"></i>Plan To Make
                                </th>

                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='AmountOrdered' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='AmountOrdered'; ">
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='AmountOrdered') || seasonItems.sortKey!=='AmountOrdered'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='AmountOrdered') || seasonItems.sortKey!=='AmountOrdered'" class="fa fa-sort-desc"></i> Amount Ordered
                                </th>

                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='ItemsNotReceived' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='ItemsNotReceived';">
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='ItemsNotReceived') || seasonItems.sortKey!=='ItemsNotReceived'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='ItemsNotReceived') || seasonItems.sortKey!=='ItemsNotReceived'" class="fa fa-sort-desc"></i>Quantity in Production
                                </th>
                                <th class="th-sort" v-on:click="seasonItems.descSortKey = seasonItems.sortKey==='LastCuttingInstructionDate' ? !seasonItems.descSortKey : seasonItems.descSortKey; seasonItems.sortKey='LastCuttingInstructionDate';">
                                    <i v-if="(!seasonItems.descSortKey && seasonItems.sortKey==='LastCuttingInstructionDate') || seasonItems.sortKey!=='LastCuttingInstructionDate'" class="fa fa-sort-asc"></i>
                                    <i v-if="(seasonItems.descSortKey && seasonItems.sortKey==='LastCuttingInstructionDate') || seasonItems.sortKey!=='LastCuttingInstructionDate'" class="fa fa-sort-desc"></i>Last Production Date
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                            @*<template v-for="item in itemsInProduction">*@
                            @*<div  v-if="itemsInProduction.length">*@

                            <template v-for="item in orderedArraySeason">
                                <tr>

                                    <td><div style="position: relative !important;"><span style="position: absolute !important; top: 15px;" @*class="col-md-2"*@><button v-on:click="getDetailforSeasonItem(item.Id)" class="icon-btn-minus"><i  class="fa" :class="{'fa-plus-square': !item.DetailsOpened, 'fa-minus-square': item.DetailsOpened }"></i></button></span><span style="margin-left: 25px;" @*class="col-md-8 col-md-offset-4"*@>{{item.Id}}</span></div>  </td>
                                    <td>{{item.SKU}}</td>
                                    <td>{{item.PercentageFilledText}}</td>
                                    <td>{{item.PlannedAmount}}</td>
                                    <td>{{item.AmountOrdered}}</td>
                                    <td>{{item.ItemsNotReceived}}</td>
                                    <td>{{item.LastCuttingInstructionDatePretty}}</td>
                                    @*<td>{{item.PercentageRecived}}</td>*@
                                    <td><button v-bind:id="item.Id" :seasonId="seasonItems.season.PlannedProductionId" class="btn btn-primary" v-on:click="detailsForSeasonItem($event)">Details</button></td>
                                </tr>
                                <tr v-if="item.Details && item.DetailsOpened">
                                    <td colspan="8" class="details-well">
                                        <div class="col-md-6 col-md-offset-3">
                                            <table class="table table-bordered table-hover table-responsive">
                                                <tr>
                                                    <th>Transaction Type</th>
                                                    <th>Date</th>
                                                    <th>Quantity</th>
                                                </tr>

                                                <template v-for="detailItem in item.Details.activity">
                                                    <tr>
                                                        @*<td hidden>{{detailItem.Type}}</td>*@
                                                        <td class="col-md-4" :class="{'recived-backround' : detailItem.Type == 1, 'ordered-backround' : detailItem.Type == 0}">
                                                            <span v-if="detailItem.Type == 1">Recived: </span>
                                                            <span v-else>Ordered: </span>
                                                        </td>
                                                        @*<td style="background-color:lightblue" v-else>Ordered: ({{detailItem.Season.Name}}) {{detailItem.DatePretty}}</td>*@
                                                        <td class="col-md-4" :class="{'recived-backround' : detailItem.Type == 1, 'ordered-backround' : detailItem.Type == 0}">{{detailItem.DatePretty}}</td>
                                                        <td class="col-md-4" :class="{'recived-backround' : detailItem.Type == 1, 'ordered-backround' : detailItem.Type == 0}">{{detailItem.Quantity}}</td>
                                                    </tr>
                                                </template>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                            @*</div>*@

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="modal fade" id="detail-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Viewing the activity for :{{currentProduction.Name}} {{currentItem.Name}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table-hover table-responsive">
                        <tr>
                            <template v-for="header in detailHeaders">
                                <th>{{header}}</th>
                            </template>
                        </tr>

                        <template v-if="isSkus" v-for="item in itemActivty">
                            <tr>
                                <td hidden>{{item.Type}}</td>
                                <td style="background-color:lightsalmon" v-if="item.Type == 1">Recived:</td>
                                <td style="background-color:lightblue" v-else>Ordered: {{item.DatePretty}}</td>
                                <td>{{item.DatePretty}}</td>
                                <td>{{item.Quantity}}</td>
                            </tr>
                        </template>
                        <template v-if="isProd" v-for="item in productionDetails">
                            <tr>
                                <td><a v-bind:Id="item.Id" v-on:click="skuProdDeatails" href="#">{{item.SKU}}</a></td>
                                <td>{{item.Lot}}</td>
                                <td>{{item.Ordered}}</td>
                                <td>{{item.Received}}</td>
                                <td>{{item.PercentageFilled}}</td>

                            </tr>
                        </template>
                    </table>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-primary" v-on:click="backToProduction" v-if="backButton"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="recive-items-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Recived items for {{currentProduction.Name}}</h4>
                </div>
                <div class="modal-body">

                    <label for="date">Date</label>
                    <input type="date" name="date" v-model="recivedItemProduction.Date" />
                    <div style="overflow:scroll; max-height:450px;">
                        <table class="table table-bordered table-hover table-responsive">
                            <tr>
                                <th>Sku</th>
                                <th>Quantity Ordered</th>
                                <th>Quantity Recived</th>
                                <th>Percent Filled</th>
                                <th>Recived <button class="btn btn-success" v-on:click="fillAll">{{fillBtnText}}</button></th>
                            </tr>
                            <template v-for="(item,index) in recivedItems">
                                <tr>
                                    <td>{{item.SKU}}</td>
                                    <td>{{item.Ordered}}</td>
                                    <td>{{item.Received}}</td>
                                    <td>{{item.PercentageFilled}}</td>
                                    <td><label style="color:red" v-if="item.ItemsRecived > (item.Ordered - item.Received)" for="item.Id">You entered to many items!</label><input type="text" v-model="item.ItemsRecived" :disabled="(item.Ordered - item.Received) <= 0" class="form-control" name="item.Id" /></td>
                                </tr>
                            </template>
                        </table>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-2">
                            <button v-on:click="submitRecivedItems" :disabled="checkVal" id="submitRecivedItems" class="btn btn-success btn-block">Submit</button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="item-detail-modal">
        <div class="modal-dialog">
            <div class="modal-content" v-if="details.typeOfDetails">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Viewing <span v-if="details.data.length <= 1">the activity </span> <span v-if="details.data.length > 1">more details </span> <span>for : {{details.currentItem.Name}}</span><span v-if="details.typeOfDetails === 'season' && details.data.length <= 1"> from {{details.currentSeason.Name}}</span></h4>
                </div>
                <div class="modal-body">
                    <div v-if="details.typeOfDetails === 'defaltItem'">
                        <span>Date Range:</span>
                        <select v-on:change="monthsChange" v-model="detailMonths.selected">
                            <option v-for="option in detailMonths.options" v-bind:value="option.value">
                                {{ option.name }}
                            </option>
                        </select>

                        <table class="table table-bordered table-hover table-responsive">
                            <tr>
                                <th>Transaction Type</th>
                                <th>Date</th>
                                <th>Quantity</th>
                            </tr>

                            <template v-for="item in details.itemDefalt.activity">
                                <tr>
                                    <td hidden>{{item.Type}}</td>
                                    <td :class="{'recived-backround' : item.Type == 1, 'ordered-backround' : item.Type == 0}">
                                        <span v-if="item.Type == 1">Recived: </span>
                                        <span v-if="">Ordered: </span>
                                        ({{item.Season.Name}}) {{item.DatePretty}}
                                    </td>
                                    @*<td style="background-color:lightblue" v-else>Ordered: ({{item.Season.Name}}) {{item.DatePretty}}</td>*@
                                    <td :class="{'recived-backround' : item.Type == 1, 'ordered-backround' : item.Type == 0}">{{item.DatePretty}}</td>
                                    <td :class="{'recived-backround' : item.Type == 1, 'ordered-backround' : item.Type == 0}">{{item.Quantity}}</td>
                                </tr>
                            </template>
                        </table>
                        <a href="#" v-on:click="moreDetails(details.itemDefalt.item.Id)">More Details</a>
                    </div>
                    <div >
                        <template v-if="details.data" v-for="(result,index) in details.data">
                            <div v-if="details.data.length > 1 && result.season" class="row well season-detail-banner">
                                <table>
                                    <tr>
                                        <th class="col-md-4">
                                            <div v-if="index != 0">
                                                <div class="s-input-group s-mb-5 all-season-select">

                                                    <select class="s-custom-select" v-model="result.season.PlannedProductionId" v-on:change="changedDetailsSeason(index)" id="plannedProductions">
                                                        <option value="">Choose...</option>
                                                        <template v-for="palnnedProd in plannedProductions">
                                                            <option v-bind:value="palnnedProd.Id">{{palnnedProd.Name}}</option>
                                                        </template>

                                                    </select>
                                                </div>
                                            </div>
                                            <div v-else>
                                                    <h4>{{result.season.Name}}</h4>
                                            </div>
                                        </th>
                                        <template v-if="result.season.TotalQuantitys">
                                            <th v-if="result.season.PlannedProductionId" class="col-md-2 col-md-offset-2"><h5>Planned: {{result.season.TotalQuantitys.PlannedAmount}}</h5></th>
                                            <th class="col-md-2"><h5>Ordered: {{result.season.TotalQuantitys.AmountOrdered}}</h5></th>
                                            <th class="col-md-2"><h5>Recived: {{result.season.TotalQuantitys.AmountReceived}}</h5></th>
                                        </template>
                                    </tr>
                                </table>
                            </div>
                            <div class="row">
                                <div v-if="result.season && !result.season.PlannedProductionId && result.season.Name">
                                    <span>Date Range:</span>
                                    <select v-on:change="monthsChange(index)" v-model="detailMonths.selected">
                                        <option v-for="option in detailMonths.options" v-bind:value="option.value">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                </div>
                                <table class="table table-bordered table-hover table-responsive">
                                    <tr>
                                        <th>Transaction Type</th>
                                        <th>Date</th>
                                        <th>Quantity</th>
                                    </tr>

                                    <template v-for="item in result.activity">
                                        <tr>
                                            @*<td hidden>{{item.Type}}</td>*@
                                            <td class="col-md-4" :class="{'recived-backround' : item.Type == 1, 'ordered-backround' : item.Type == 0}">
                                                <span v-if="item.Type == 1">Recived: </span>
                                                <span v-else>Ordered: </span>
                                                <span v-if="details.typeOfDetails === 'item' && details.data.length <= 1">({{item.Season.Name}})</span>
                                            </td>
                                            @*<td style="background-color:lightblue" v-else>Ordered: ({{item.Season.Name}}) {{item.DatePretty}}</td>*@
                                            <td class="col-md-4" :class="{'recived-backround' : item.Type == 1, 'ordered-backround' : item.Type == 0}">{{item.DatePretty}}</td>
                                            <td class="col-md-4" :class="{'recived-backround' : item.Type == 1, 'ordered-backround' : item.Type == 0}">{{item.Quantity}}</td>
                                        </tr>
                                    </template>
                                </table>
                            </div>
                        </template>
                        <a v-if="details.data.length <= 1" href="#" v-on:click="moreDetails(details.currentItem.Id)">More Details</a>
                        <button v-on:click="addMoreDetailsSeason" v-else class="btn btn-success">Add Season</button>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-1">
                            <button class="btn btn-primary" v-on:click="backToProduction" v-if="backButton"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></button>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

@section Scripts{
    @*<script src="~/Scripts/lodash.js"></script>*@
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Metronic/theme/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/SiteScripts/Index.js"></script>
    
    }

@section css{
    <link rel="stylesheet" href="~/Content/Index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
}