
@{
    ViewBag.Title = "NewProduction";
}

<h2>NewProduction</h2>

<div>
    <input type="button" id="get_file" value="Grab file">
    <input type="file" id="my_file">
    <div id="customfileupload">Select a file</div>
</div>

