
@{
    ViewBag.Title = "Marker";
}
<style>
    .defalt-tr {
        background-color: #e2d3a8;
    }
    .defalt-td {
        background-color: #e0d339;
        color: #fdfdfd;
        text-align: center;
        font-weight: 800;
        vertical-align:middle;
    }
    .mDefalt-btn {
        width: 117.97916599999999px;
    }
</style>

<div id="app" class="row">
    <!--Data lists-->
    <datalist id="sizes">
        <option v-for="x in sizes">{{x.Name}}</option>
    </datalist>
    <!--The marker table-->
    <div class="col-md-10 col-md-offset-1">
        @*<div class="row">
                <div class="col-md-2 very-little-margin">
                    <p><h4>Showing {{orderedArraySeason ? orderedArraySeason.length : 0}} items</h4></p>
                </div>
            </div>*@
        <div>
            <table class="table table-bordered table-responsive table-striped">

                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Sleeve
                    </th>
                    <th>
                        BodyStyle
                    </th>
                    <th>
                        Defalt Size Breakdown
                    </th>
                </tr>
                <template v-for="(item,index) in markerCatergories">
                    <tr>
                        <td>
                            <div style="position: relative !important;">
                                <span style="position: absolute !important; top: 3px;left:-9px;">
                                    <button v-on:click="item.DetailsOpened = !item.DetailsOpened;" class="icon-btn-minus">
                                        <i class="fa" :class="{'fa-plus-square': !item.DetailsOpened, 'fa-minus-square': item.DetailsOpened }"></i>
                                    </button>
                                </span><span style="margin-left: 25px;">{{item.Name}}</span>
                            </div>
                        </td>
                        <td>{{item.Department.Name}}</td>
                        <td>{{item.Sleeve.Name}}</td>
                        <td>{{item.BodyStyle.Name}}</td>
                        <td>{{item.DefaltMarker.SizeText}}</td>
                        <td>
                            <span title="Delete" v-on:click="delteMarkerCat(index)" class="font-awsome-span delete-btn"><i class="fa fa-trash"></i></span>
                        </td>
                    </tr>
                    <tr v-if="item.Markers && item.DetailsOpened">
                        <td colspan="5" class="details-well">
                            <div class="col-md-8 col-md-offset-2">
                                <button class="btn btn-success" v-if="!item.NewMarker" v-on:click="openMarkerForm(index)">Add New Marker</button>
                                <div class="well" v-if="item.NewMarker">
                                    <div class="row">
                                        <p class="text-center">New Marker</p>
                                        <div class="size-container col-md-1">
                                            <button v-if="!item.NewMarker.MarkerDetails.length" v-on:click="addSize(index)" class="btn btn-circle green btn-sm">Add a Size</button>
                                            <div class="" v-if="item.NewMarker.MarkerDetails.length >= 1">
                                                <button title="Add a size" v-on:click="addSize(index)" class="btn btn-circle btn-icon-only green add-size-btn">+</button>
                                            </div>
                                            <div class="size-element" v-if="item.NewMarker.MarkerDetails.length">
                                                <label class="col-md-1 col-form-label" for="Size">Size/s:</label>
                                            </div>
                                            <div class="size-element" v-if="item.NewMarker.MarkerDetails.length">
                                                <label class="col-md-1 col-form-label" for="Size">Count:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <template v-for="(size, sizeIndex) in item.NewMarker.MarkerDetails">
                                                <div class="size-container col-md-2">
                                                    <div class="size-element" title="Remove this size">
                                                        <button v-on:click="removeSize(index,sizeIndex)" class="btn btn-circle btn-icon-only red-sunglo">X</button>
                                                    </div>
                                                    <div class="size-element">
                                                        <input type="text" v-on:change="size.SizeId = sizes.find(i => i.Name === size.Name).Id" v-bind:class="[sizes.some(i => i.Name === size.Name) ? '': 'hasError' ]" list="sizes" style="width:100%" name="Size" v-model="size.Name" />
                                                       
                                                    </div>
                                                    <div class="size-element">
                                                        <input type="text" v-bind:class="[ size.AmountPerLayer > 0 ? '': 'hasError' ]" style="width:100%" name="layer" v-model="size.AmountPerLayer" />
                                                    </div>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-hover table-responsive">
                                    <tr>
                                        <th></th>
                                        <th>Date Created</th>
                                        <th>Sizes breakdown</th>
                                        <th>Length</th>
                                        <th colspan="2">Waste percentage</th>
                                    </tr>
                                    @*<tr class="defalt-tr">
                                        <td class="defalt-td">Defalt</td>
                                        <td>{{item.DefaltMarker.CreatedOn | toShortDateString}}</td>
                                        <td>{{item.DefaltMarker.SizeText}}</td>
                                        <td>{{item.DefaltMarker.Length}}</td>
                                        <td>{{item.DefaltMarker.PercentWaste}}</td>
                                    </tr>*@
                                    <template v-for="(marker, markerIndex) in item.Markers">
                                        <tr v-on:dblclick="edit(index,markerIndex)" :class="{'defalt-tr' : marker.Id === item.DefaltMarkerId, 'editing-background' : marker.Edit}">
                                            <td :class="{'mDefalt-btn' : marker.Id !== item.DefaltMarkerId, 'defalt-td' : marker.Id === item.DefaltMarkerId}">
                                            <span v-if="marker.Id === item.DefaltMarkerId">Defalt</span>
                                            <button v-if="marker.MarkerDetails.length > 1 && marker.Id !== item.DefaltMarkerId" v-on:click="makeMarkerDefalt(index,marker.Id)" class="btn default red-stripe">Make Defalt</button>
                                            </td>
                                            <td>{{marker.CreatedOn | toShortDateString}}</td>
                                            <td>{{marker.SizeText}}</td>
                                            <template v-if="!marker.Edit">
                                                <td>{{marker.Length}}</td>
                                                <td colspan="2">{{marker.PercentWaste | percentage}}</td>
                                            </template>
                                            <template v-if="marker.Edit">
                                                <td>
                                                    <input class="form-control" type="text" @*v-bind:class="[item.Quantity > 0 ? '': 'hasError' ]"*@ v-model="marker.Length" />
                                                </td>
                                                <td>
                                                    <input class="form-control" type="text" @*v-bind:class="[item.Quantity > 0 ? '': 'hasError' ]"*@ v-model="marker.PercentWaste" />
                                                </td>
                                                <td class="action-btn-td">
                                                    <span class="action-btn-span">
                                                        <span class="font-awsome-span save-btn"><i title="Save" v-on:click="updateMarker(index,markerIndex)" class="fa fa-save"></i></span>
                                                        <span title="Delete" v-on:click="deleteMarker(index,markerIndex)" class="font-awsome-span delete-btn"><i class="fa fa-trash"></i></span>
                                                        <button title="Cancel" class="btn btn-circle default cancel-btn" v-on:click="cancel(index,markerIndex)">Cancel</button>
                                                    </span>
                                                </td>
                                            </template>
                                        </tr>
                                        @*<div v-if="marker.Edit" class="action-btn-td">
                                            <span class="action-btn-span">
                                                <span class="font-awsome-span save-btn"><i title="Save" v-on:click="updateExistingItem(index)" class="fa fa-save"></i></span>
                                                <span title="Delete" v-on:click="deleteAExistingItem(item.Id,index)" class="font-awsome-span delete-btn"><i class="fa fa-trash"></i></span>
                                                <button title="Cancel" class="btn btn-circle default cancel-btn" v-on:click="cancel(index,markerIndex)">Cancel</button>
                                            </span>
                                        </div>*@
                                    </template>
                                </table>
                            </div>
                            <div v-if="item.PlannedProdDetailsId" class="col-md-3">
                                <label>Notes</label>
                                <textarea v-on:blur="item.notesDisabled = true; updatePpd(index)" v-on:focus="item.notesDisabled = false; item.notesCopied = item.Notes" class="form-control" :readonly="item.notesDisabled" rows="3" v-model="item.Notes"></textarea>
                            </div>
                        </td>
                    </tr>
                </template>


            </table>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/SiteScripts/marker-vue.js"></script>
}
